.flip-card a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
}
.flip-card-back {
    /*transform: rotateY(180deg);*/
}
.flipTrue {
    transform: rotateY(180deg);
}
